$primary: #8a1024;

$inverse-link: #f5d0d6;

$card-content-padding: 1.5rem 0.75rem;

$content-heading-weight: 900;

$content-blockquote-padding: 2em 1.5em 2em 2.5em;
$content-blockquote-background-color: darken($primary, 7%);
$content-blockquote-text-color: white;
$content-blockquote-border-left: 10px solid $primary;

$code-background: #fcf9f0;
.has-background-code {
  background-color: $code-background;
}

$title-weight: 900 !important;

$family-monospace: ui-monospace, monospace;
$family-serif: ui-serif, Georgia, serif;

@import "~bulmatown/frontend/styles";

.ruby-icon {
  filter: drop-shadow(0px 0px 4px #ffffccaa);
  .navbar & {
    width: 20px;
  }
  .footer & {
    width: 18px;
  }
}

.content {
  blockquote {
    color: $content-blockquote-text-color;
    box-shadow: inset calc(1rem + 10px) 0px 0px -10px white, inset 0px 0px 60px 10px darken($primary, 10%);
    margin-top: 2rem;
    padding: 2em 1.5em 2em 2.5em;
    margin-left: calc(-1rem - 10px);
    font-weight: 400;
    font-size: 1.2em;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    line-height: 1.45;
    font-style: italic;
    font-family: $family-serif;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    a {
      color: $inverse-link;
      font-weight: 500;
    }
  }
  &.e-content h3 {
    &:not(:first-child) {
      margin-top: 3rem;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    margin-left: calc(-1rem - 10px);
    padding-left: 1rem;
    border-left: $content-blockquote-border-left;
  }
}
.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
  margin-bottom: 1.25em;
}
pre.highlight {
  margin-top: 0;
  margin-bottom: 0;
}
div.highlight {
  margin-top: 1.5em;
  margin-bottom: 2em;
  border: 1px dashed $inverse-link;
  box-shadow: 0px 13px 18px rgba(0,0,0,0.1);
}
div.highlighter-rouge + div.highlighter-rouge > div.highlight {
  margin-top: -0.75em;
}

.navbar .navbar-brand {
  font-weight: 900;
}

.hero {
  background-position: center 75%;

  @include tablet {
    .title.is-spaced + .subtitle {
      margin-top: 3rem;
    }
  }
}
body.post .hero {
  background-position: center center;
}
body.home .hero, body.page .hero {
  --overlay-top-left: rgba(97,6,36,0.2);
  --overlay-center: rgba(138,16,36,0.5);
  --overlay-bottom-right: rgba(165,15,14,0.85);
}

article .author {
  font-size: 0.93em;
}

p.sponsor-message {
  line-height: 1.8em; 
}

footer.footer {
  color: $inverse-link;
  a, strong, .logo {
    color: white;
  }
  .logo {
    font-weight: 900;
  }
}
