<aside wlm-prose slot="sidebar-intro">
  <p style="font-weight: bold">by Jared White</p>

  <p>Fullstack Ruby is the <em>hip place to be</em> for a groovy take on developing web apps using this plucky language. Got feedback on what we should cover next? <a href="/about" style="font-weight:bold; white-space: nowrap">Send it our way!</a></p>

  <script type="module" src="<%= asset_path 'islands/pagefind.js' %>"></script>
  <pagefind-search _show_images="false"></pagefind-search>
</aside>
