<aside slot="sidebar-links">
  <h2>Follow</h2>

  <nav>
    <ul>
      <li><a href="/feed.xml">
        <sl-icon library="remixicon" name="Device/rss-fill"></sl-icon> Newsfeed
      </a></li>
      <li><a href="https://ruby.social/@fullstackruby" target="_blank">
        <sl-icon library="remixicon" name="Logos/mastodon-fill"></sl-icon> @fullstackruby
      </a></li>
    </ul>
  </nav>

  <p><strong>Get this:</strong> podcast & article updates sent right to your email inbox. <strong>425</strong> of your fellow Rubyists can’t be wrong. <em>Booyeah!</em> 🙌</p>

  <form action="https://buttondown.email/api/emails/embed-subscribe/fullstackruby" method="post">
    <p>
      <label>Email address <br/>
      <input placeholder="me@example.com" type="email" name="email"></label>
    </p>
    <p>
      <label>First name (Optional) <br/>
      <input type="text" name="metadata__first_name"></label>
    </p>

    <p style="margin-block-start: var(--wlm-grid-column-spacing)">
      <button type="submit">
        <sl-icon library="remixicon" name="Business/mail-send-line"></sl-icon>
        Subscribe
      </button>
    </p>

    <p style="opacity:0.75"><small>No spam, I promise. Just rad Ruby references!<br /><a href="https://buttondown.com/fullstackruby/archive/" style="font-weight: bold">Visit the Archives</a></small></p>
  </form>


  <h2 style="margin-block-start: var(--wlm-grid-row-spacing)">See Also</h2>

  <nav>
    <ul>
      <li><a href="https://www.bridgetownrb.com">
        <sl-icon library="remixicon" name="Development/code-box-line"></sl-icon> Bridgetown Framework
      </a></li>
      <li><a href="https://thathtml.blog">
        <sl-icon library="remixicon" name="Development/html5-line"></sl-icon> That HTML Blog
      </a></li>
      <li><a href="https://www.spicyweb.dev">
        <sl-icon library="remixicon" name="Weather/fire-line"></sl-icon> The Spicy Web
      </a></li>
      <li><a href="https://justaspec.show">
        <sl-icon library="remixicon" name="Media/mic-2-line"></sl-icon> Just a Spec Podcast
      </a></li>
    </ul>
  </nav>
</aside>
