<div class="card column is-half-desktop is-two-thirds-tablet mx-auto my-6">
  <div class="card-content">
    <p class="title is-4 mb-4">
      “Ruby is simple in appearance, but is very
      complex inside, just like our human body.”
    </p>
    <p class="subtitle has-text-right has-text-grey">
      matz
    </p>

    <p>Join nearly 200 fullstack Ruby developers and subscribe to receive a timely tip you can apply directly to your Ruby site or application each week:</p>
    
    <form action="https://app.convertkit.com/forms/1766345/subscriptions" method="post">
      <div class="field">
        <div class="control has-icons-left">
          <input name="fields[first_name]" class="input" type="text" placeholder="Your first name">
          <span class="icon is-small is-left">
            <i class="fa fa-user-circle"></i>
          </span>
        </div>
      </div>
      <div class="field has-addons">
        <div class="control has-icons-left" style="flex-grow: 1">
          <input name="email_address" class="input" type="email" placeholder="Email address">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <div class="control">
          <button class="button is-primary">
            Subscribe
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
