<div class="card column is-half-desktop is-two-thirds-tablet mx-auto my-6">
  <div class="card-content">
    <p class="title is-4 mb-4">
      “Ruby is simple in appearance, but is very
      complex inside, just like our human body.”
    </p>
    <p class="subtitle has-text-right has-text-grey">
      matz
    </p>

    <p>Subscribe to receive a personalized tip you can apply directly to your Ruby site or application each week:</p>
    
    <form>
      <div class="field has-addons">
        <div class="control has-icons-left" style="flex-grow: 1">
          <input class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <div class="control">
          <a class="button is-primary">
            Subscribe
          </a>
        </div>
      </div>
    </form>
  </div>
</div>